Hello,
<br><br>
This email is to notify you that your airport has created an account for your aircraft, <%= @account.registration %> on your behalf.  
<br><br>
Payments for purchases applied to your account will be applied via ACH to the account you've provided on a monthly basis, on the 15th day of each month.  Other transactions, such as fuel or supplies, will be billed to your account weekly.  If you choose not to have your purchases applied to your account, you may simply arrange to pay with another method at the time of purchase.
<br><br>
Your airport is part a large network of General Aviation airports that use AirportAccount.com to maintain thier in-house accounts.  You may also use your account as you travel to other airports within the network if you choose - meaning you won't have to worry about payments or receipts - it's all in your account.  
<br><br>
To take advantage of You'll need to create a profile on AirportAccount.com using this link:  <a href="http://www.airportautopilot.com/users/sign_up">Create My Owner Profile </a> .  You must use the email address associated with your account (the email address you're recieving this email on) to claim your account.  If this is your first time using AirportAccount.com, please allow up to 24 hours after creating your profile for your account to be matched to your profile.  
<br><br>
If you have any questions or concerns, please feel free to reach out to our team at support@airportaccount.com
<br><br>
Thank you and happy flying!
<br><br>
- The AirportAccount.com team
