<center></center>
<h3> Connect Quickbooks</h3>
	<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
  <script>
      intuit.ipp.anywhere.setup({
        grantUrl: "<%= @grant_url %>",
        datasources: {
          quickbooks : true,
          payments : false
        }
      });
    </script>
<ipp:connectToIntuit></ipp:connectToIntuit>

<script>
</script>

</center>